<div id="faqMob" class="row fv-faq-mobile">
	<div class="fv-header">
		<h2>FAQs</h2>
	</div>

	<p class="fv-gutter">We’re answering the most common questions on fur storage, care & our in-store offerings.</p>

	<div class="faq-container fv-gutter">
		<div class="faq-qa">
			<p class="accordion" style="border-top: solid 1px #000000;">How should I store my fur coat?</p>
			<div class="panel">
				<ul>
					<li>Hang your fur on a contoured hanger to protect the shape and fit.</li>
					<li>Give your fur enough room in the closet so it doesn't get crushed.</li>
					<li>Avoid leaving your fur in bright places; light can oxidate the fur.</li>
					<li>Never use chemical mothproof sprays, mothballs or cedar chips.</li>
				</ul>
			</div>
		</div>
		
		<div class="faq-qa">
			<p class="accordion">Can I store my fur in a plastic bag?</p>
			<div class="panel">
				<ul>
					<li>No&mdash;plastic prevents air from circulating and can dry out the leather.</li>
				</ul>
			</div>
		</div>

		<div class="faq-qa">
			<p class="accordion">What should I do when traveling?</p>
			<div class="panel">
				<ul>
					<li>Store your fur in a deluxe garment bag.</li>
					<li>Shoulder bags and seatbelts can rub fur and break off guard hairs. Ask about a shoulder guard!</li>
				</ul>
			</div>
		</div>

		<div class="faq-qa">
			<p class="accordion">How do I maintain the fur's beauty?</p>
			<div class="panel">
				<ul>
					<li>Keep your fur away from direct heat; blow dryers and radiators can cause fur and leather to dry out.</li>
					<li>Avoid spraying perfume or hairspray immediately before slipping into your coat.</li>
					<li>Never pin jewelry on your fur.</li>
				</ul>
			</div>
		</div>

		<div class="faq-qa">
			<p class="accordion">What if my fur gets wet?</p>
			<div class="panel">
				<ul>
					<li>Shake it off and hang it up to dry in a well-ventilated room.</li>
				</ul>
			</div>
		</div>

		<div class="faq-qa faq-last-q">
			<p class="accordion">What are your in-store services?</p>
			<div class="panel">
				<div class="in-store-services" style="margin-top: 1em; margin-bottom: 1em;">Keep your fur just like new...</div>
				<div class="faq-last">
					<div class="faq-block">
						<b>Storage</b><br />
						Regardless of where your coats were purchased, our advanced climate-controlled vault can extend the life of your furs and keep them protected during warmer months.
					</div>
					<div class="faq-block">
						<b>Cleaning & conditioning</b><br />
						Your fur needs pampering, too. To keep the fur soft and supple, and prevent it from drying, bring in any fur to have it professionally cleaned and conditioned.
					</div>
					<div class="faq-block">
						<b>Repairs, relining & alterations</b><br />
						Whether it's a torn seam, loose lining or missing hook, our professionals can take care of your repair and alteration needs.
					</div>
					<div class="faq-block">
						<b>Trade-ins</b><br />
						If your fur coat doesn't qualify for a restyle, trade it in and save on your new fur purchase.
					</div>
				</div>
				<div class="faq-last">
					<div class="faq-block">
						<b>Restyling</b><br />
						Update the fur you love for a fresh and modern look. Stretch the value of the coat, by having it restyled by one of our specialists—from heirloom to haute fashion. Simply adjust the length, shoulders, sleeves and more, or completely change the design: transform a coat into a jacket, vest or even fur trim on a cape.
					</div>
					<div class="faq-block">
						<b>Silk Glow<sup>&reg;</sup></b><br />
						This glazing process will protect the fur from harsh elements and keep it clean and lustrous.
					</div>
					
					<div class="faq-block">
						<b>Vectra<sup>&reg;</sup></b><br />
						With this protector, the lining will become stronger and last longer.
					</div>
					<div class="faq-block">
						<b>Protection plan</b>
					</div>
					<div class="faq-block">
						<b>Reconditioning & glazing</b>
					</div>
					<div class="faq-block">
						<b>Monogramming</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>