<div class="row fv-restyling fv-overlay">
	<p class="fv-close-btn">x</p>
	<div class="fv-rs-wrapper">
		<p class="fv-restyling-txt">Update a treasured heirloom with a restyling by our specialists&mdash;<br />opt for a subtle refresh or a total revamp!</p>

		<div class="fv-restyling-slider slick-slider-carousel">
            <div id="slide-01" class="slides">
            	<div class="before"><span>BEFORE:</span> FULL-LENGTH COAT</div>
            	
            	<img src="https://assets.macys.com/dyn_img/creativepages/C8090347_slide_01.jpg">
            	<div class="after"><span>AFTER:</span> LINED & TRIMMED PARKA</div>
            	<div class="slider-btm-txt">Transform an inherited piece into a modern silhouette you can wear every day.</div>
            </div>
            <div id="slide-02" class="slides">
            	<div class="before"><span>BEFORE:</span> FULL-LENGTH COAT</div>
            	<img src="https://assets.macys.com/dyn_img/creativepages/C8090347_slide_02.jpg">
            	<div class="after"><span>AFTER:</span> CHIC PONCHO</div>
            	<div class="slider-btm-txt">Revitalize a long look with a fashion-forward makeover.</div>
            </div>
            <div id="slide-03" class="slides">
            	<div class="before"><span>BEFORE:</span> FULL-LENGTH COAT</div>
            	<img src="https://assets.macys.com/dyn_img/creativepages/C8090347_slide_03.jpg">
            	<div class="after"><span>AFTER:</span> COVETED VEST</div>
            	<div class="slider-btm-txt">Take a vintage design & transition it into today with a fresh take on the cut.</div>
            </div>
		</div>

		<div class="restyling-shop">
			<p class="fv-restyling-txt">Can't wait? Check out our online collection!</p>
			<a data-cm="restyling_shopnow" href="https://www.macys.com/shop/womens-clothing/fur-clothing-the-fur-vault?id=69211"><button>SHOP NOW</button></a>
		</div>
		
	</div>
	
</div>