<style type="text/css">
	.fv-social {
		width: 100px;
	}

	.fv-social-icon {
		height: 20px;
		width: 20px;
		float: left;
		margin-left: 2px;
		margin-right: 2px;
	}
</style>

<div class="fv-social">
	<a rel="nofollow" href="https://www.pinterest.com/pin/create/button/?url=https://www.macys.com/p/fur-vault/&media=https://assets.macys.com/dyn_img/creativepages/C8090348_hero_mob.jpg&title=Fur%20Vault%20at%20Macy%27s&description=Find%20nearby%20salons%20%26%20restyling%20inspiration%20with%20The%20Fur%20Vault%20at%20Macy%27s!" target="_blank">
		<div class="fv-social-icon"><img src="https://assets.macys.com/dyn_img/creativepages/fv_Pinterest_Share.png" alt="pinterest"></div>
	</a>
	<a rel="nofollow" href="http://www.facebook.com/sharer.php?u=https://www.macys.com/p/fur-vault/" target="_blank">
		<div class="fv-social-icon"><img src="https://assets.macys.com/dyn_img/creativepages/fv_FB_Share.png" alt="facebook"></div>
	</a>
	
	
	<a rel="nofollow" href="https://twitter.com/intent/tweet?url=https://www.macys.com/p/fur-vault/&text=Find%20nearby%20salons%20%26%20restyling%20inspiration%20with%20The%20Fur%20Vault%20at%20Macy%27s!" target="_blank">
		<div class="fv-social-icon"><img src="https://assets.macys.com/dyn_img/creativepages/fv_Twitter_Share.png" alt="twitter"></div>
	</a>	
</div>
