<div class="row fv-store-locator fv-overlay">
	<p class="fv-close-btn">x</p>
	<div class="fv-sl-wrapper">
		<img src="https://assets.macys.com/dyn_img/creativepages/C8090347_locator_logo.gif">
		<p class="fv-store-locator-txt">Expert fur care. Endless possibilities. Treat yourself (or a precious fur)<br />with a visit to the full-service, in-store salon near you.</p>

		<div class="fv-dropdown-container">
			<span class="find-store">FIND A STORE</span>
			<select id="stateSelect" name="stateSelect" data-target=".fv-store-results">
				<option value="default" selected>SELECT YOUR STATE</option>
			    <option value="connecticut" data-show=".fv-cn">Connecticut</option>
			    <option value="georgi" data-show=".fv-ga">Georgia</option>
			    <option value="illinois" data-show=".fv-il">Illinois</option>
			    <option value="massachusetts" data-show=".fv-ma">Massachusetts</option>
			    <option value="michigan" data-show=".fv-mi">Michigan</option>
			    <option value="minnesota" data-show=".fv-mn">Minnesota</option>
			    <option value="missouri" data-show=".fv-ms">Missouri</option>
			    <option value="nevada" data-show=".fv-nv">Nevada</option>
			    <option value="newjersey" data-show=".fv-nj">New Jersey</option>
			    <option value="newyork" data-show=".fv-ny">New York</option>
			    <option value="ohio" data-show=".fv-oh">Ohio</option>
			    <option value="pennsylvania" data-show=".fv-pa">Pennsylvania</option>
			    <option value="tennessee" data-show=".fv-tn">Tennessee</option>
			    <option value="texas" data-show=".fv-tx">Texas</option>
			    <option value="wisconsin" data-show=".fv-wi">Wisconsin</option>
			</select>
		</div>

		<div class="fv-store-results">
		<!-- CONNECTICUT -->
		<div class="fv-cn fv-store-container">
			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Danbury Fair</div>
					<div class="fv-store-address">7 Backus Avenue</div>
					<div class="fv-store-address">Danbury, CT<br />Phone: (203) 830-2341</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>
		</div>

		<!-- GEORGIA -->
		<div class="fv-ga fv-store-container">
			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Lenox Square Mall</div>
					<div class="fv-store-address">3393 Peachtree Road</div>
					<div class="fv-store-address">Atlanta, GA<br />Phone: (404) 231-2799</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Perimeter Mall</div>
					<div class="fv-store-address">4300 Ashford Dunwoody Road</div>
					<div class="fv-store-address">Atlanta, GA<br />Phone: (770) 396-2740</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>
		</div>

		<!-- ILLINOIS -->
		<div class="fv-il fv-store-container">
			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's State Street</div>
					<div class="fv-store-address">111 North State Street</div>
					<div class="fv-store-address">Chicago, IL<br />Phone: (312) 781-3536</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Old Orchard</div>
					<div class="fv-store-address">1 Old Orchard Shopping Center</div>
					<div class="fv-store-address">Skokie, IL<br />Phone: (847) 329-2887</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Oakbrook</div>
					<div class="fv-store-address">1 Oak Brook Center</div>
					<div class="fv-store-address">Oak Brook, IL<br />Phone: (630) 684-2158</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's River Oaks</div>
					<div class="fv-store-address">1 River Oaks Center</div>
					<div class="fv-store-address">Calumet City, IL<br />Phone: (708) 418-4087</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>
		</div>

		<!-- MASSACHUSETTS -->
		<div class="fv-ma fv-store-container">
			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Burlington</div>
					<div class="fv-store-address">1300 Middlesex Turnpike</div>
					<div class="fv-store-address">Burlington, MA<br />Phone: (781) 221-3774</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>
		</div>

		<!-- MICHIGAN -->
		<div class="fv-mi fv-store-container">
			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Fairlane</div>
					<div class="fv-store-address">18900 Michigan Avenue</div>
					<div class="fv-store-address">Dearborn, MI<br />Phone: 313-436-7600</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Twelve Oaks</div>
					<div class="fv-store-address">27550 Novi Road</div>
					<div class="fv-store-address">Novi, MI<br />Phone: (248) 344-6823</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Lakeside</div>
					<div class="fv-store-address">14200 Lakeside Circle</div>
					<div class="fv-store-address">Sterling Heights, MI<br />Phone: (586) 566-2822</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Somerset</div>
					<div class="fv-store-address">2750 West Big Beaver Road</div>
					<div class="fv-store-address">Troy, MI<br />Phone: (248) 816-4532</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>
		</div>

		<!-- MINNESOTA -->
		<div class="fv-mn fv-store-container">
			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Southdale</div>
					<div class="fv-store-address">100 Southdale Center</div>
					<div class="fv-store-address">Edina, MN<br />Phone: (952) 924-6639</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>
		</div>

		<!-- MISSOURI -->
		<div class="fv-ms fv-store-container">
			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's North Park Mall</div>
					<div class="fv-store-address">101 N Range Line Road</div>
					<div class="fv-store-address">Joplin, MO<br />Phone: 417-782-6500</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 8:00PM</div>
				</div>
			</div>
		</div>

		<!-- NEVADA -->
		<div class="fv-nv fv-store-container">
			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Fashion Show</div>
					<div class="fv-store-address">3200 S Las Vegas Blvd</div>
					<div class="fv-store-address">Las Vegas, NV<br />Phone: (702) 731-5111</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>
		</div>

		<!-- NEW JERSEY -->
		<div class="fv-nj fv-store-container">
			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Paramus Garden State Plaza</div>
					<div class="fv-store-address">500 Garden State Plaza</div>
					<div class="fv-store-address">Paramus, NJ<br />Phone: 201-843-9100</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Monmouth</div>
					<div class="fv-store-address">180 RT. 35</div>
					<div class="fv-store-address">Eatontown, NJ<br />Phone: (732) 935-6841</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Freehold</div>
					<div class="fv-store-address">3710 Highway 9 South</div>
					<div class="fv-store-address">Freehold, NJ<br />Phone: (732) 683-1345 Ext: 2341</div>
				</div>
				<div class="fv-store-hours border-btm">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Short Hills</div>
					<div class="fv-store-address">1220 Morris Turnpike</div>
					<div class="fv-store-address">Short Hills, NJ<br />Phone: (973) 467-0800 Ext: 2341</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Willowbrook</div>
					<div class="fv-store-address">100 Route 46</div>
					<div class="fv-store-address">Wayne, NJ<br />Phone: (973) 812-6141</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>

			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Woodbridge</div>
					<div class="fv-store-address">237 Woodbridge Center Dr</div>
					<div class="fv-store-address">Woodbridge Township, NJ<br />Phone: (732) 694-5880</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>
		</div>

		<!-- NEW YORK -->
		<div class="fv-ny fv-store-container">
			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Kings Plaza</div>
					<div class="fv-store-address">5400 Avenue U</div>
					<div class="fv-store-address">Brooklyn, NY<br />Phone: (718) 692-6341</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Roosevelt Field</div>
					<div class="fv-store-address">630 Old Country Road</div>
					<div class="fv-store-address">Garden City, NY<br />Phone: (516) 746-0971</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Smith Haven</div>
					<div class="fv-store-address">2 Smith Haven Mall</div>
					<div class="fv-store-address">Lake Grove, NY<br />Phone: (631) 382-3391</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Manhasset</div>
					<div class="fv-store-address">1100 Northern Blvd.</div>
					<div class="fv-store-address">Manhasset, NY<br />Phone: (516) 869-2341</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Herald Square</div>
					<div class="fv-store-address">151 West 34th Street</div>
					<div class="fv-store-address">New York, NY<br />Phone: (212) 494-1227</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 10:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Walden Galleria</div>
					<div class="fv-store-address">4 Walden Galleria</div>
					<div class="fv-store-address">Cheektowanga, NY<br />Phone: (716) 686-0194</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:30PM</div>
				</div>
			</div>
		</div>

		<!-- OHIO -->
		<div class="fv-oh fv-store-container">
			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Kenwood Towne Center</div>
					<div class="fv-store-address">7875 Montgomery Road</div>
					<div class="fv-store-address">Cincinnati, OH<br />Phone: (513) 247-6487</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>
		</div>

		<!-- PENNSYLVANIA -->
		<div class="fv-pa fv-store-container">
			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's South Hills Village Mall</div>
					<div class="fv-store-address">100 South Hills Village</div>
					<div class="fv-store-address">Pittsburgh, PA<br />Phone: (412) 854-6807</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Monroeville Mall</div>
					<div class="fv-store-address">400 Monroeville Mall</div>
					<div class="fv-store-address">Monroeville, PA<br />Phone: (412) 858-370 Ext: 3820</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Ross Park Mall</div>
					<div class="fv-store-address">1004 Ross Park Mall</div>
					<div class="fv-store-address">Pittsburgh, PA<br />Phone: (412) 366-1400 Ext: 376</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>
		</div>

		<!-- TENNESSEE -->
		<div class="fv-tn fv-store-container">
			<div class="fv-store-holder border-btm">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Oak Court</div>
					<div class="fv-store-address">Oak Court</div>
					<div class="fv-store-address">Memphis, TN<br />Phone: (901) 766-2228</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 8:00PM</div>
				</div>
			</div>

			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Green Hills</div>
					<div class="fv-store-address">3813 Hillsboro Pike</div>
					<div class="fv-store-address">Nashville, TN<br />Phone: (615) 383-3300 Ext: 204</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>
		</div>

		<!-- TEXAS -->
		<div class="fv-tx fv-store-container">
			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's NorthPark Center</div>
					<div class="fv-store-address">8687 North Central Expressway</div>
					<div class="fv-store-address">Dallas, TX<br />Phone: (469) 232-3606 Ext: 3606</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 10:00PM</div>
				</div>
			</div>
		</div>

		<!-- WISCONSIN -->
		<div class="fv-wi fv-store-container">
			<div class="fv-store-holder">
				<div class="fv-store-info">
					<div class="fv-store-name">Macy's Mayfair</div>
					<div class="fv-store-address">2500 N Mayfair Road</div>
					<div class="fv-store-address">Wauwatosa, WI<br />Phone: 414-471-3700</div>
				</div>
				<div class="fv-store-hours">
					<div class="fv-hours-label">Today's Hours:</div>
					<div class="fv-hours">10:00AM - 9:00PM</div>
				</div>
			</div>
		</div>

	</div>

		<div class="store-locator-shop">
			<p class="fv-store-locator-txt">Can't wait? Check out our online collection!</p>
			<a data-cm="storelocator_shopnow" href="https://www.macys.com/shop/womens-clothing/fur-clothing-the-fur-vault?id=69211"><button>SHOP NOW</button></a>
		</div>
		
	</div>
	
</div>